
.vs/LMatrix/v16/.suo
*.db
.vs/LMatrix/v16/Browse.VC.db-shm
.vs/LMatrix/v16/Browse.VC.db-wal
.vs/LMatrix/v16/Browse.VC.opendb
.vs/LMatrix/v16/ipch/AutoPCH/30877327dad62eed/LMATRIX.ipch
.vs/LMatrix/v16/ipch/AutoPCH/496131d75520791c/SOURCE.ipch
.vs/LMatrix/v16/ipch/AutoPCH/a9f41c1a55399b35/LMATRIX.ipch
Debug/LMatrix.exe
Debug/LMatrix.pdb
LMatrix/Debug/LMatrix.exe.recipe
LMatrix/Debug/LMatrix.ilk
LMatrix/Debug/LMatrix.log
LMatrix/Debug/LMatrix.tlog/CL.command.1.tlog
LMatrix/Debug/LMatrix.tlog/CL.read.1.tlog
LMatrix/Debug/LMatrix.tlog/CL.write.1.tlog
LMatrix/Debug/LMatrix.tlog/link.command.1.tlog
LMatrix/Debug/LMatrix.tlog/link.read.1.tlog
LMatrix/Debug/LMatrix.tlog/link.write.1.tlog
LMatrix/Debug/LMatrix.tlog/LMatrix.lastbuildstate
LMatrix/Debug/Source.obj
LMatrix/Debug/vc142.idb
LMatrix/Debug/vc142.pdb
